.Rproj.user
.Rhistory
.RData
.Ruserdata
.tar.gz
RCPmod/
SpeciesMix/
old_files/
developing_functions/
developing_sams_src/
developing_src/
cpp_compile_scripts/
binary_builds/
src/*.o
src/*.so
src/*.dll

inst/doc
